---
<!-- title: My Blog -->
layout: default
---

<div class="posts">
  {% for post in site.posts limit: 10 %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content }}
      </div>
    </article>
  {% endfor %}
</div>

<hr />

<div class='newsletter'>
  <p>You can sign up for my newsletter below where I'll post exclusive content and keep you updated on new coin reviews.</p>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/meyer9"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/meyer9', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email">Enter your email:</label>
    <input type="email" name="email" id="bd-email">
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="Subscribe" />
  </form>
</div>

{% include mathjax.html %}
{% include analytics.html %}
