---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

blockquote > :last-child {
  letter-spacing: 0.04pt;
}

.newsletter {
  padding: 20px;
  border: 1px solid #AAA;
  border-radius: 10px;
  margin-top: 20px;

  form {
    padding-top: 20px;
  }
}
